# Node modules
node_modules
npm-debug.log
yarn-error.log


# Optional npm cache directory
.npm


# Optional cache files
.cache

# Editor directories and files
.vscode/
.idea/

/.vscode
/node_modules
/package-lock.json
/allure-*
esling.*